
@{
    ViewBag.Title = "Index";
}


<h2>Employees list</h2>


@using (Html.BeginForm("Index2", "Main", FormMethod.Post))
{
    <input type="number" name="ID" id="ID" />
    <input type="submit" value="Get Employee" />
}


