<div class="container">
    <div class="box">
        <h2>Employees list</h2>
        @using (Html.BeginForm("employeesList", "Employee", FormMethod.Post))
        {
            <input type="number" name="ID" id="ID" />
            <input type="submit" value="Get Employee" />
        }
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $('#btnStart').unbind('click');
        $('#btnStart').on('click', function () {
            $.ajax({
                url: "/Employee/Index4",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    txtValue: $("#txtValue").val()
                }),
                async: false
            });
        });
    });
</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>